/*globales*/
*{
box-sizing: border-box;
}
ul,ol{
  padding: 0;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000;
}

/*estilos generales*/
body{
background-image: url(../img/fon.jpg);
font-family: 'Libre Franklin', sans-serif;
}
.container{
  width: 960px;
  margin:0 auto;
}

img{
  width: 100%;
}
.producto{
  margin: 80px;
}
.articulosMasVendidos{
  margin top: 5px;
  padding: 1px;
}
.separator{
  position: relative;
  margin: 40px 0 40px;
}
hr{
  border-color: #aed581;
  border-width: 3px;
  max-width: 700px;
}
h2{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #aed581;
  margin: 0 10px;
  padding: 0  10px;
}
