/* Reseteos general */
body {
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}


/* Cabecera --------*/
header{
  /* position: fixed;
  top: 0;
  z-index: 999; */
  padding: 15px 0 30px 0;
  margin-bottom: 25px;
  width: 100%;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: aqua;
}
.login-container{
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.login-container li{
  margin: 0 10px;
}
.inicio-registro ul,
.redes {
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.redes{
  margin-left: 30px;
}
.logo-marca{
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-marca a{
  /* flex */
  flex-basis: 5%;
}
.logo{
  width: 100%;
}
.navigation {
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.parent {
  position: relative;
}
.parent ul {
  display: none;
}
.parent ul li{
  width: 220px;
}
.parent:hover ul{
  display: block;
  position: absolute;
  top:30px;
  left: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 999;
  background:#fff;
}
