/* Reseteos general */
body {
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  background-image: url(../img/fon.jpg);
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: rgb(177, 148, 101);
  text-decoration: underline;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}


/* Cabecera */
header{
  /* position: fixed;
  top: 0;
  z-index: 999; */
    padding: 15px 0 30px 0;
  margin-bottom: 25px;
  width: 100%;
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(255,255,255, 0.6);
}
.login-container{
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.login-container li{
  margin: 0 10px;
}
.inicio-registro ul,
.redes {
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.redes{
  margin-left: 30px;
}
.logo-marca{
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo-marca a{
  /* flex */
  flex-basis: 5%;
}
.logo{
  width: 100%;
}
.navigation {
  /* flex */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.parent {
  position: relative;
}
.parent ul {
  display: none;
}
.parent ul li{
  width: 220px;
}
.parent:hover ul{
  display: block;
  position: absolute;
  top:30px;
  left: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: 999;
  background:#fff;
}


.carousel-item { /* Eliminar si cambia la altura de las fotos */
  height: 300px;
}

.carousel-item img { /* Eliminar si cambia la altura de las fotos */
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

/* login.php y registro.php */
.header-login-registro header {
  padding: 0;
}

.formulario {
  background-color: #fff;
  margin: 80px auto;
  max-width: 500px;
  padding: 10%;
}

h1 {
  text-align: center;
}

input {
  width: 94.8%;
  margin: 3% 0 10%;
  padding: 10px;
  border-radius: 3px;
  border: #ccc solid 1px;
}

.ingreso-forgot, .ingreso-tyc {
  text-align: center;
}

.ingreso-tyc input {
  width: auto;
}

button {
  font-size: 17px;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(177, 148, 101);
  border: rgb(177, 148, 101) solid 1px;
  border-radius: 5px;
}

.forgot {
  font-size: 17px;
  padding-left: 3%;
  color: rgb(177, 148, 101);
}

.divisor {
  margin: 20% 5% 10%;
}

.registro, .iniciar-sesion {
  text-align: center;
}

.registro h2, .iniciar-sesion h2 {
  margin-bottom: 10%;
}

.registrate, .ingresa {
  background-color: rgb(177, 148, 101);
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px 15px;
}

/* Pantalla M: 992px */
@media (min-width: 992px) {
  .formulario {
    max-width: 700px;
    padding: 5%;
  }

  input {
    width: 96.7%;
    margin: 2% 0 4%;
  }

  hr {
    margin: 10% 5% 5%;
  }

  .registro h2, .iniciar-sesion h2 {
    margin-bottom: 5%;
  }
}
